<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.web>
		<httpRuntime requestPathInvalidCharacters="" />
        <customErrors mode="Off"/>
		 <urlMappings enabled="true">
			<add url="~/long/path/to/file.zip" mappedUrl="~/artifact.zip" />
			<add url="~/get-data-url?with-arguments" mappedUrl="~/build.xml" />
		</urlMappings>
    </system.web>
	<system.webServer>
		<handlers>
			<add 
				name="GetFileUrl" 
				path="/long/path/to/file.zip" 
				verb="GET" 
				type="System.Web.Handlers.TransferRequestHandler" 
				preCondition="integratedMode,runtimeVersionv4.0" />
			

			<add 
				name="GetDataUrl" 
				path="/get-data-url?with-arguments" 
				verb="GET" 
				type="System.Web.Handlers.TransferRequestHandler" 
				preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
</configuration>